include ../logo/logo
include ../search/search
include ../icon-btn/icon-btn

mixin header()
    header.header
        +logo('assets/images/logo.svg')
        +search()
        header.header__btns
            +icon-btn('assets/images/favourites.svg', 10)(src='favourites')
            +icon-btn('assets/images/cart.png', 2)(src='cart')