.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    border-bottom: 1px solid color('gray-light');

    &__btns {
        display: flex;

        .icon-btn {
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}