doctype html
html 
    head
        tile Занятие номер 3.
    body
        header.heder
            h1 Обучение по работе с Gulp!
            img(src='gulp.png')
        main.main Тело страницы
        footer Подвал