doctype html
html 
    head
        tile Занятие номер 3.
    body
        header.heder
            h1 Обучение по работе с Gulp!
            img(src="./assets/images/gulp.png", alt="Это картинка" width="100px" height="100px")
        main.main Тело страницы
        footer Подвал